.tarjeta {
  width: 100%;
  height: 450px
}
.texto {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}
.enlace {
  cursor: pointer;
  color: gray;
}

.enlace:hover {
  text-decoration: underline;
}
.loading {
  color: greenyellow;
}
.fondo {
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*TO DO: arreglar responsive de movil*/
/*Responsive para movil*/
@media screen and (max-width: 844px) {
  .tarjeta {
    width: 300px;
    height: 500px;
    padding-bottom: 10px;
    padding-left: 1px;
    left: 90%;
    margin-left: -310px; /* Half of the width */


  }
  .fondo{
    background-color:white;
  }
  *{
    padding: 2px;
  } 
}
/*Responsive para tablet*/
@media screen and (min-width: 640px) and (max-width: 1280px) {
  .tarjeta {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    padding-left: 1px;
    left: 90%;
    margin-left: -310px; /* Half of the width */
  }
  *{
    padding: 2px;
  }
}
@media screen and (min-width: 1280px) {
  .tarjeta {
    width: 100%;
    padding-bottom: 10%;
  }
}
