@font-face {
  font-family: defecto;
  src: url("../fonts/Sf-pro-display/SFPRODISPLAYREGULAR.OTF");
}
* {
  font-family: defecto;
  transition: 1s;
}
/*----AJUSTES GENERALES */
/*titulo*/
.titulo {
  animation-name: animacion3;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  /*combinacion de ambas*/
}
@keyframes animacion3 {
  0% {
    transform: translate(100%, 0px);
  }

  50% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

