@font-face {
    font-family: defecto;
    src: url('../fonts/Sf-pro-display/SFPRODISPLAYREGULAR.OTF');
}
*{
    font-family: defecto;
    transition: 1s;
}
/*login*/
  .login {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .texto{
      font-size: 15px;
      font-weight: 400;
      color: gray;
  }
  